html {
    background-image: linear-gradient(to bottom, var(--ucbPurple), var(--ucbPink));
}

header {
    margin-top: 25px;
    padding-bottom: 25px;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    font-family: sans-serif;
}

:root {
    --indigo: #4B0082;
    --darkIndigo: #000113;
    --backgroundColor: #FFF0F5;
    --navHover: #e1d4ec;
    --ucbPurple: #8a61c3;
    --ucbIndigo: #624181;
    --ucbPink: #bc6287;
}

a {
    text-decoration: none;
    color: var(--backgroundColor);
    font-family: Calibri;
}

footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--backgroundColor);
    font-family: Calibri;
}

.title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    color: var(--backgroundColor);
}

.logo {
    position: relative;
    height: 125px;
    width: 125px;
    margin-top: 25px;
    margin-left: 50px;
    z-index: 10;
}

.logo-image {
    border-radius: 50%;
    border: 3px solid var(--backgroundColor);
}


.navbar {
    width: 75%;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    justify-content: flex-start;
    left: 75px;
    right: 0;
    top: -40px;
    opacity: 97%;
    z-index: 9;
}

.navbar a {
    display: inline-block;
    text-align: center;
    color: var(--backgroundColor);
    padding: 20px 40px;
    transition: .3s;
    text-decoration: none;
    position: relative;
}

.navbar a:hover {
    background-color: var(--ucbIndigo);
}

.nav-divider {
    display: inline-block;
    text-align: center;
    border-left: .15em solid var(--backgroundColor);
    background-color: var(--backgroundColor);
    position: relative;
}

.socials header {
    position: relative;
    color: #fff;
}

.socials footer {
    position: fixed;
    top: 0;
    right: 0;
    color: #fff;
    height: 100px;
    width: 100px;
}

.top-divider {
    border-top: .5em solid var(--backgroundColor);
}

.bottom-divider {
    border-bottom: .5em solid var(--backgroundColor);
}

.index-about-container {
    width: 72em;
    height: 16em;
    background-color: var(--navHover);
    position: relative;
}

.index-about-header {
    font-size: 50px;
    margin: 0;
    padding: .15em;
}

.index-about-paragraph {
    font-size: 20px;
    margin: 0;
    padding: .5em;
    color: var(--backgroundColor);
}

.index-image {
    border: solid var(--backgroundColor);
}